@CHARSET "UTF-8";
body{
	font-family:"Microsoft Yahei",微软雅黑,"Helvetica Neue",Arial,sans-serif;
	font-size:16px;
	width:100%;   
    height:900px;   
    background: -webkit-linear-gradient(top, #FFFFF0 0%, #FFEC8B 100%);
}
.mr200{
	margin-right:200px;
}
a{
	color: #777;
	text-decoration:none;
}
a:focus,
a:hover {
	color: #b00;
	text-decoration:none;
}
header{

    background:#FFFFF0;
	height:60px;
	border-bottom-style:double;
}
header .account{
	padding-right:200px;
	text-align:right;
	color:black;
	line-height:70px;
	
}
header .account>a{
	float:right;
	padding-right:20px;
	line-height: 40px;
	color:black;
	line-height:70px;
	
}
header .account>a:hover{
	
	color:#b7b7b7;

	
}
header .logo{
    float:left;
	line-height:60px;
	font-size:28px;
	color:black;
}

main h3{
	text-align:center;
}

main table{
	
	margin:0 auto;
	
	width:600px;
	
}
main table th{
	text-align:center;
	height:50px;
	
}
main table td{
	
	text-align:center;
	height:40px;
}
